$dark-blue:hsl(192, 100%, 9%)

footer
    border: 4px solid black
    margin: 20px
    background-color: $dark-blue
    color: white

main
    border: 4px solid black
    margin: 20px

header
    border: 4px solid black
    margin: 20px
