
@import url(https://fonts.google.com/specimen/Open+Sans)
@import url(https://fonts.google.com/specimen/Poppins)

$Pink: hsl(322, 100%, 66%)
$Very-Pale-Cyan: hsl(193, 100%, 96%)
$Very-Dark-Cyan: hsl(192, 100%, 9%)
$Grayish-Blue: hsl(208, 11%, 55%)
$dark-blue: hsl(192, 100%, 9%)
$font-size: 18px
$font-weight-thin: 400
$font-weight-thick: 600
$font-weight-thickest: 700
$poppins-font: 'Poppins', sans-serif
$open-sans: 'Open Sans', sans-serif
h1
    font-family: 'Poppins'
body
    display: flex
    flex-direction: column
    padding: 0
    margin: 0
footer
    margin: 0
    background-color: $dark-blue
    color: white
    display: flex
    justify-content: space-around
    height: fit-content
    flex-direction: column
    bottom: 0

    .footer__vertical-alignment
        display: flex
        flex-direction: column
        justify-content: space-around
    .footer__horizontal-alignment
        font-size: 10px
        display: flex
        flex-direction: column
        justify-content: center

main

    display: flex
    flex-direction: column
    align-items: center

    margin: 0
    padding-bottom: 20%
    .button-card
        font-family: $poppins-font
        z-index: -10
        position: relative
        margin: 5% 2.5% -80% 2.5%
    p
        font-family: $open-sans
        color: $Grayish-Blue
    h1
        font-family: $poppins-font
        color: $dark-blue

    div
        text-align: center
        border-radius: 10px
        padding: 5% 1%
        margin: 5% 2.5%
        border: 2px
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.27)
        width: 80%
        font-size: 8px
        
        img
            width: 100%

.btn
    color: white
    border-style: none
    background-color: $Pink
    width: 60%
    height: 20%
    border-radius: 20px
    font-weight: 600

header
    padding-top: 10%
    display: flex
    flex-direction: column
    margin: 0
    align-items: center
    text-align: center
    background-image: url("./img/bg-hero-mobile.svg")
    background-size: cover
    background-position: center
    text-align: center
    h1
        font-family: $poppins-font
        color: $dark-blue
        margin-top: 30%

    p
        font-family: $open-sans
        color: $dark-blue
        padding: 7% 10%
    img
        width: 80%  
    #btnheader
        color: white
        border-style: none
        background-color: $Pink
        width: 130%
        height: 50%
        border-radius: 20px
        font-weight: 600
        margin-bottom: 25%
        padding: 5%

    
    .homeicon
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        button
            width: 35%
            height: 30%
            border-radius: 20px
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.27)
            border-style: none
            font-family: $poppins-font
            background-color: white
            font-weight: 600
            padding: 3%
            
        img
            width: 30%
            height: 30%
        

ul
    list-style: none

    li
        margin-top: 25px
.icons
    display: flex
    flex-direction: row
    justify-content: space-around
    svg
        width: 15px
        height: 15px
        viewBox: 0 0 50 50
